apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service-deployment       # matches ${imageName}-deployment
  namespace: payment-namespace
  labels:
    app: payment-service                 # matches service selector
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service-container  # matches ${imageName}-container
        image: kuunyangna/payment-service:v1
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
